<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://twitterazurefunction20230314103148.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d1695651-1210-430b-9d84-6cf3148a7809/resourcegroups/azfuncrg/providers/Microsoft.Web/sites/TwitterAzureFunction20230314103148</ResourceId>
    <UserName>$TwitterAzureFunction20230314103148</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://twitterazurefunction20230314103148.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>